@font-face {
    font-family: "Nexa bold";
    src: url('../font/NexaBold.eot');
    src: url('../font/NexaBold.eot?#iefix') format('embedded-opentype'), url('../font/NexaBold.woff') format('woff'), url('../font/NexaBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Nexa light";
    src: url('../font/NexaLight.eot');
    src: url('../font/NexaLight.eot?#iefix') format('embedded-opentype'), url('../font/NexaLight.woff') format('woff'), url('../font/NexaLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

html {
    box-sizing: border-box;
}

body {
    background-color: #fff;
    color: #202020;
    font-family: Nexa bold;
    font-size: 1.000em;
    margin: 0 auto;
    /* smooth transition */
    transition: all .2s linear;
    -o-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -webkit-transition: all .2s linear;
}

main {
    overflow: auto;
    width: 100%;
}


/* typography */

h1 {
    color: #00d66c;
    display: inline-block;
    font-size: 1em;
    margin-left: 0.5em;
    margin-right: auto;
}

h2 {
    color: #fff;
    margin: 0.5em;
    text-decoration: underline;
}

h3 {
    color: #00d66c;
    font-size: 2.375em;
    margin: 0.5em;
    text-align: center;
    width: 100%;
}

h4 {
    color: #2800a0;
    font-size: 1.150em;
    margin-top: 0;
    padding-bottom: 0.5em;
}

h5 {
    color: #2800a0;
    font-size: 2.375em;
    margin: 0.5em;
}

p {
    font-family: Nexa light;
    line-height: 1.2em;
    max-width: 30em;
}

a {
    color: #202020;
    text-decoration: none;
}

h3 {
    margin: 1em;
    width: auto;
}


/* navigation */

header {
    align-items: center;
    background-color: #fff;
    box-shadow: 0 0.03125em 0.9375em 0 #808080;
    display: flex;
    height: 2.75em;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    z-index: 2;
}

header img {
    height: 1.5em;
    padding-left: 0.5em;
    vertical-align: middle;
    width: 1.5em;
}

nav ul {
    list-style: none;
}

ul a {
    color: #00d66c;
    display: inline-block;
    padding: 0.5em;
    text-decoration: none;
}

ul a:hover {
    color: #2800a0;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

ul li {
    background-color: #fff;
    display: inline-block;
}


/* submenu */

ul ul:target,
.zichtbaar {
    display: block;
    position: absolute;
}

ul ul {
    background-color: #f2f2f2;
    display: none;
    left: 0;
    padding: 0;
    top: 2.5em;
    width: 100%;
    z-index: 1;
}

ul ul li {
    background-color: #ffff;
    margin: 1em;
    padding: 1.25em 0;
    width: 95%;
}

ul ul li a {
    color: #202020;
}

ul ul li:active a,
ul ul li:hover a {
    color: #fff;
}

ul ul li:first-of-type {
    border-right: 0.5625em solid #00d66c;
}

ul ul li:first-of-type:hover {
    background-color: #00d66c;
}

ul ul li:nth-of-type(2) {
    border-right: 0.5625em solid #00d66c;
}

ul ul li:nth-of-type(3) {
    border-right: 0.5625em solid #ff3268;
}

ul ul li:nth-of-type(4) {
    border-right: 0.5625em solid #2800a0;
}

ul ul li:nth-of-type(5) {
    border-right: 0.5625em solid #ff3268;
}

ul ul li:nth-of-type(6) {
    background-color: transparent;
    border-right: none;
    text-align: center;
}

ul ul li:active,
ul ul li:hover {
    background-image: url(../img/choices.png);
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-size: contain;
    transition: all 0.5s ease;
}


/* andere stijling voor profiel dropdown */

ul li:last-child ul li:last-child {
    border-right: none;
}

ul li:last-child ul li:active,
ul li:last-child ul li:hover {
    background-color: #fff;
    background-image: none;
}

ul li:last-child ul li a:active,
ul li:last-child ul li a:hover {
    color: #ff3268;
}


/* micro interactie edit */

.aan-het-lezen {
    border-right: 0.563em solid #ff3268 !important;
}

.aan-het-lezen:hover {
    background-color: #ff3268 !important;
}

ul ul li:nth-of-type(2):active,
ul ul li:nth-of-type(2):hover {
    background-color: #00d66c;
}

ul ul li:nth-of-type(3):active,
ul ul li:nth-of-type(3):hover {
    background-color: #ff3268;
}

ul ul li:nth-of-type(4):active,
ul ul li:nth-of-type(4):hover {
    background-color: #2800a0;
}

ul ul li:nth-of-type(5):active,
ul ul li:nth-of-type(5):hover {
    background-color: #ff3268;
}

ul ul li:nth-of-type(6):active,
ul ul li:nth-of-type(6):hover {
    background-image: none;
}

ul ul li:nth-of-type(6) a,
ul ul li:nth-of-type(6) a {
    background-color: transparent;
    border-right: none;
    color: #808080;
    text-align: center;
}

ul ul li:nth-of-type(6) a:hover {
    color: #ff3268;
}


/* hamburger */

#menu-toggle {
    display: none;
}

nav>label {
    display: none;
}


/* micro interactie edit */

.aan-het-lezen {
    border-right: 0.563em solid #ff3268 !important;
}

.aan-het-lezen:hover {
    background-color: #ff3268 !important;
}

ul ul li:nth-of-type(2):active,
ul ul li:nth-of-type(2):hover {
    background-color: #00d66c;
}

ul ul li:nth-of-type(3):active,
ul ul li:nth-of-type(3):hover {
    background-color: #ff3268;
}

ul ul li:nth-of-type(4):active,
ul ul li:nth-of-type(4):hover {
    background-color: #2800a0;
}

ul ul li:nth-of-type(5):active,
ul ul li:nth-of-type(5):hover {
    background-color: #ff3268;
}

ul ul li:nth-of-type(6):active,
ul ul li:nth-of-type(6):hover {
    background-image: none;
}

ul ul li:nth-of-type(6) a,
ul ul li:nth-of-type(6) a {
    background-color: transparent;
    border-right: none;
    color: #808080;
    text-align: center;
}

ul ul li:nth-of-type(6) a:hover {
    color: #ff3268;
}


/* hamburger */

#menu-toggle {
    display: none;
}

nav>label {
    display: none;
}

div nav {
    background-color: #f2f2f2;
    padding: 0.125em;
}

div nav ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0 1em;
}

div nav ul li {
    background-color: transparent;
}


/* terugbrengen ruimte door fixed navigatie */

main {
    padding-top: 2.75em;
}


/* stijloegening 58 de passie van Max */

.passie {
    background-color: black;
}

.passie a[href="#verhaal"] img:nth-of-type(1) {
    padding-top: 2em;
    width: 100%;
}

.passie div img:nth-of-type(1) {
    background-color: #000;
    display: block;
    padding-top: 5em;
    width: 100%;
}

.passie div img:nth-of-type(2),
.passie div img:nth-of-type(3) {
    display: none;
}

.passie div:last-child {
    background-color: #fff;
}

.passie a[href="#verhaal"] img:nth-of-type(1):hover,
.passie a[href="#verhaal"] img:nth-of-type(1):focus {
    transform: rotate(360deg);
    transition: all 2s ease-in-out;
}


/* stijloegening 77 Onomatopee */

iframe {
    position: absolute;
    visibility: hidden;
}

div .onomatopee {
    background-image: url(../img/uitwerking-77-desktop.png);
    background-size: cover;
    height: 46.875em;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 156.25em;
}

div .onomatopee:active {
    background-image: url(../img/uitwerking-77-desktop-hover.png);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition-timing-function: all 0.5s ease;
}


/* stijloegening 88 Klumperbeven */

.rotate {
    outline: 0;
    -moz-transition-duration: 2s;
    -o-transition-duration: 2s;
    -webkit-transition-duration: 2s;
    transition-duration: 2s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
    width: 100%;
}

.klumperbeven {
    background-color: black;
}

.klumperbeven img {
    width: 100%;
}

.klumperbeven>img {
    display: none;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox]:checked+label>img {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

label[for=rotate-mobile] {
    display: none;
}

label[for=rotate-tablet] {
    display: none;
}


/* comments onder verhalen */

div article a {
    display: block;
}

div {
    overflow: auto;
    width: 100%;
}

div article:nth-child(odd) {
    background-color: #f2f2f2;
    padding: 1em 0 1em 1em;
}

div article:nth-child(even) {
    background-color: #fff;
    padding: 1em 0 1em 1em;
}

div form {
    background-color: #00d66c;
    padding: 1em;
}

div legend {
    color: #fff;
    font-size: 1.150em;
}

div input {
    width: auto;
}

div label {
    display: block;
}

texarea {
    display: block;
    width: auto;
}

fieldset {
    border: none;
    padding: 1.250em 0;
}

fieldset a {
    justify-content: center;
}

legend {
    color: #00d66c;
    font-size: 2.375em;
    padding-bottom: 0.25em;
}

input:focus,
select:focus {
    border: 0.063em solid #2800a0;
    outline: none;
}

input {
    background-color: white;
    font-size: 1em;
}

input:valid {
    background-color: transparent;
    border: none;
    border-bottom: 0.063em solid #2800a0;
    border-radius: 0;
    transition: all 1s ease-out;
}

input:valid:hover {
    background-color: #fff;
    border: 0.063em solid #2800a0;
    border-radius: 0.5rem;
}

input,
select {
    border: 0.063em solid #91a3b7;
    border-radius: 0.5rem;
    color: #606060;
    display: block;
    font-family: Nexa light;
    font-size: 0.75em;
    margin: 0.625em 0;
    padding: 0.625em 0.125em;
    width: 100%;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

div form button {
    background-color: #ff3268;
    border-radius: 1.25em;
    border-style: none;
    box-shadow: 0 0.125em #ca2b55;
    color: #fff;
    display: block;
    font-size: 1.000em;
    margin: 1em 0;
    padding: 0.4375em 1.5em;
    text-align: center;
}

footer form button {
    margin: 1em 0;
}

form button:hover {
    background-color: #ec658e;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}


/* footer */

footer>a[href="#"] {
    align-items: center;
    background-color: #00d66c;
    border-radius: 50%;
    box-shadow: 0 0.125em #00a66c;
    color: #fff;
    display: flex;
    height: 1.5em;
    justify-content: center;
    margin: 0.5em;
    text-align: center;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    width: 1.5em;
}

footer:last-child {
    background-color: #f2f2f2;
    display: inline-block;
    height: 2.5em;
    width: 100%;
}

@media screen and (max-width: 50em) {

    /* stijloegening 58 de passie van Max */


    .passie div img:nth-of-type(2) {
        background-color: #000;
        display: block;
        padding-top: 5em;
        width: 100%;
    }
    .passie div img:nth-of-type(1),
    .passie div img:nth-of-type(3) {
        display: none;
    }

    /* stijloegening 77 Onompatopee */


    div .onomatopee {
        background-image: url(../img/uitwerking-77-tablet.png);
        background-size: cover;
        height: 45em;
        overflow-x: scroll;
        overflow-y: hidden;
        width: 110em;
    }
    div .onomatopee:active {
        background-image: url(../img/uitwerking-77-tablet-hover.png);
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition-timing-function: all 0.5s ease;
    }

    /* stijloegening 88 Klumperbeven */


    .klumperbeven>img:first-of-type {
        display: block;
    }
    .klumperbeven>img:last-child {
        display: none;
    }
    label[for=chkimage] {
        display: none;
    }
    label[for=rotate-tablet] {
        display: block;
        padding: 0 5em;
    }
    label[for=rotate-mobile] {
        display: none;
    }
    div nav {
        background-color: #f2f2f2;
        padding: 0.125em;
    }
    div nav ul {
        display: flex;
        justify-content: space-around;
    }
    div nav ul li {
        background-color: transparent;
    }
}

@media screen and (max-width: 30em) {

    /* stijloegening 58 de passie van Max */


    .passie div img:nth-of-type(3) {
        background-color: #000;
        display: block;
        padding-top: 5em;
        width: 100%;
    }
    .passie div img:nth-of-type(1),
    .passie div img:nth-of-type(2) {
        display: none;
    }

    /* stijloegening 77 Onomatopee */


    div .onomatopee {
        background-image: url(../img/uitwerking-77-mobiel.png);
        background-size: cover;
        height: 146.875em;
        overflow-x: none;
        overflow-y: scroll;
        width: 100%;
    }
    div .onomatopee:active,
    div .onomatopee:hover {
        background-image: url(../img/uitwerking-77-mobiel-hover.png);
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition-timing-function: all 0.5s ease;
    }

    /* stijloegening 88 Klumperbeven */


    .klumperbeven>img:last-child {
        display: block;
    }
    .klumperbeven>img:first-of-type {
        display: none;
    }
    label[for=rotate-tablet] {
        display: none;
    }
    label[for=rotate-mobile] {
        display: block;
    }
    label[for=chkimage] {
        display: none;
    }

    /* navigatie mobiel */


    header nav ul {
        display: none;
        margin: 0;
        opacity: 0;
        padding: 0;
        position: absolute;
        top: 2.5em;
        visibility: hidden;
    }
    header ul li {
        padding: 1em 0;
    }
    header nav ul ul {
        display: none;
        left: 0;
        opacity: 1;
        visibility: visible;
        width: 100%;
    }
    header nav ul ul:target {
        position: relative;
    }
    header li {
        display: inline-block;
        width: 100%;
    }
    header #menu-toggle:checked~ul {
        display: inline-block;
        left: 0;
        opacity: 1;
        visibility: visible;
        width: 100%;
    }
    header nav>label {
        background: linear-gradient(to bottom, #00d66c 0%, #00d66c 20%, transparent 20%, transparent 40%, #00d66c 40%, #00d66c 60%, transparent 60%, transparent 80%, #00d66c 80%, #00d66c 100%);
        display: inline-block;
        height: 0.9375em;
        margin: 0.5em;
        width: 1.5625em;
    }
    header ul ul li:active,
    header ul ul li:hover {
        background-image: url(../img/choices.png);
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: contain;
        transition: all 0.5s ease;
    }
    header ul ul li:active a,
    header ul ul li:hover a {
        color: transparent;
    }
}
