@font-face {
    font-family: "Nexa bold";
    src: url('../font/NexaBold.eot');
    src: url('../font/NexaBold.eot?#iefix') format('embedded-opentype'), url('../font/NexaBold.woff') format('woff'), url('../font/NexaBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Nexa light";
    src: url('../font/NexaLight.eot');
    src: url('../font/NexaLight.eot?#iefix') format('embedded-opentype'), url('../font/NexaLight.woff') format('woff'), url('../font/NexaLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

body {
    background-color: #fff;
    color: #202020;
    font-family: Nexa bold;
    font-size: 1.000em;
    margin: 0 auto;
}


/* typography */

h1 {
    color: #00d66c;
    font-size: 1em;
    flex-grow: 2;
    margin-left: 0.5em;
}

h2 {
    color: #fff;
}

h3 {
    color: #00d66c;
    font-size: 2.375em;
}

h4 {
    color: #2800a0;
    font-size: 1.150em;
}

h5 {
    color: #2800a0;
    font-size: 2.375em;
}

p {
    font-family: Nexa light;
    line-height: 1.2em;
    max-width: 30em;
}

a {
    color: #202020;
    text-decoration: none;
}

legend {
    color: #00d66c;
    font-size: 2.375em;
}


/* custom margin */

h2,
h5 {
    margin: auto;
}

h3 {
    margin: 0.5em;
}

h4 {
    margin-top: 0;
}


/* navigation */

header {
    align-items: center;
    background-color: #fff;
    display: flex;
    height: 2.5em;
    width: 100%;
}

header img {
    display: inline-block;
    height: 1.5em;
    padding-left: 0.5em;
    width: 1.5em;
}

nav ul {
    display: inline-block;
    list-style: none;
    position: relative;
}

ul a {
    color: #00d66c;
    display: inline-block;
    padding: 0.5em;
    position: relative;
    text-decoration: none;
}

ul a:hover {
    color: #2800a0;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

ul>li {
    background-color: #fff;
    display: inline-block;
}


/* submenu */

ul ul:target {
    display: block;
    position: absolute;
}

ul ul {
    display: none;
    position: absolute;
}

ul ul li {
    border-bottom: 0.063em solid #f2f2f2;
}

ul ul li a {
    color: #202020;
}


/*achtergrond formulier */

section:first-child {
    background-image: url(../img/tumblr_o9nos4TyCw1unflglo1_500.jpg%20copy.png);
    background-position: 50% 50%;
    background-size: cover;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}

section>h2 {
    align-items: center;
    color: #fff;
    display: flex;
    height: 200px;
}


/*achtergrond login */

.background-login {
    background-attachment: fixed;
    background-image: url(../img/link-hoang-31747.jpg);
    background-position: center;
    background-size: cover;
}


/* formulier */

form {
    background: linear-gradient(rgba(255, 255, 255, 0.5) 85%, #fff 85%), linear-gradient( #fff 30%, rgba(255, 255, 255, 0.5) 30%);
    border-radius: 1.25em;
    max-width: 25em;
    padding: 1.5em;
}

main>form {
    background: linear-gradient(rgba(255, 255, 255, 0.5) 82%, #fff 82%), linear-gradient( #fff 22%, rgba(255, 255, 255, 0.5) 2%);
    border-radius: 1.25em;
    max-width: 25em;
    margin: 1em;
}

fieldset {
    border: none;
    padding: 1.250em 0;
}

form>a {
    color: #606060;
    display: block;
    text-decoration: underline;
}

input,
select {
    border: 0.063em solid #91a3b7;
    border-radius: 0.5rem;
    color: #606060;
    display: block;
    font-family: Nexa light;
    font-size: 0.75em;
    margin: 10px 0;
    padding: 10px 2px;
    width: 100%;
}

form input:hover,
select:hover {
    border: 0.063em solid #2800a0;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

form button {
    background-color: #ff3268;
    border-radius: 1.25em;
    border-style: none;
    box-shadow: 0 0.125em #ca2b55;
    color: #fff;
    display: block;
    font-size: 1.000em;
    margin: 0.625em 0;
    padding: 0.4375em 1.5em;
    text-align: center;
}

form button:hover {
    background-color: #ec658e;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

aside {
    background-color: #2800a0;
    border-radius: 1.25em;
    padding: 0.4375em 1.5em;
    margin-right: 1em;
    height: 3em;
}


/* verhalen */

section article {
    background-color: #fff;
    border-radius: 1.25em;
    margin: 0.5em;
    max-width: 25em;
    padding: 1.250em;
}

main>article {
    column-count: 2;
    column-width: 25em;
    padding: 1.250em;
}

article>p:first-child {
    margin: 0;
}

article>footer {
    display: flex;
    justify-content: space-between;
}

section {
    background-color: #f2f2f2;
    border-radius: 0;
    padding: 1em;
}

section:nth-child(2) {
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: center;
    background-color: #f2f2f2;
}

div {
    display: flex;
    justify-content: center;
}

section:nth-child(3) {
    background-color: #f3e5d8;
    text-align: center;
}

section:nth-child(4) {
    background-color: #fff;
    text-align: center;
}

section:nth-child(3) p,
section:nth-child(4) p {
    text-align: left;
    margin-top: 1em;
}

section:nth-child(4) h5 {
    color: #00d66c;
}

section>h3 {
    text-align: center;
    width: 100%;
}

section:nth-child(3) a[href="#"],
section:nth-child(4) a[href="#"] {
    background-color: #2800a0;
    border-radius: 1.25em;
    border-style: none;
    box-shadow: 0 0.125em #120145;
    color: #fff;
    display: inline-block;
    font-size: 1.000em;
    margin: 0.625em 1.250em;
    padding: 0.4375em 1.5em;
    text-align: center;
}

section:nth-child(3) a[href="#"]:hover,
section:nth-child(4) a[href="#"]:hover {
    background-color: #4f409b;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

section>article>a:hover:last-child {
    background-color: #ff3268;
    border-radius: 1.25em;
    border-style: none;
    box-shadow: 0 0.125em #ca2b55;
    color: #fff;
    margin: 0.625em 0;
    padding: 0.4375em 1.5em;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

footer>a[href="#"] {
    background-color: #00d66c;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5em;
    box-shadow: 0 0.125em #00a66c;
    color: #fff;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

footer:last-child {
    background-color: #f2f2f2;
    height: 2.5em;
    width: 100%;
    display: inline-block;
}


/* comments */

main ul a {
    padding: 0.5em 0;
    display: block;
}


/* mediaquerys */

@media screen and (min-width: 80em) {
    section:nth-child(2) {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        overflow-x: auto;
    }
    article {
        flex: 0 0 auto;
        padding-top: 5em;
    }
    section>article {
        position: relative;
        margin-top: 5em;
    }
    section>h3 {
        position: absolute;
    }
}

@media screen and (min-width: 27.5em) {
    section:first-child {
        flex-flow: column-reverse;
    }
    legend {
        margin-bottom: 1.5em;
    }
    main>form {
        max-width: 27.5em;
    }
}
